includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
    scanFiles:
        - _ide_helper_models.php
    earlyTerminatingMethodCalls:
        App\Http\Requests\Auth\LoginRequest:
            - throwValidationError
        App\Http\Responses\ErrorResponse:
            - throwException
